// Se le pone un _ para que sass no lo compile a parte
$fuentePrincipal: 'Montserrat',
sans-serif;
// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$violeta: #752F97;
$negro: #000;
$blanco: #FFF;
// Media Queries
// Fuentes
// Separaciones